h1 {
  text-align: center;
  font-size: 50px;
  color: 	white;
  background-color: black;
}

body {
    background-color: blue;
}

#clock {
    height: 100px;
    width: 500px;
    margin: auto;
    position: relative;
    top: 0; left: 0; right: 100px; bottom: 0;
    padding-top: 70px;
    font-family: courier, monospace;
    text-align: left;
    color: white;
    font-size: 100px;
}

h2 {
  
  text-align: center;
  font-size: 40px;
}

input {
  font-size: 20px;
}
