h1 {
  text-align: center;
  font-family: 'Product Sans', Arial, sans-serif;
  font-size: 60px;
  color: 	white;
  background-color: black; opacity: 0.6;
  margin-top: 0;
}

body {
  text-align: center;
  margin: 0;
  margin-top: 0;
}

.C {
  color: blue;
}

.S {
  color: red;
}

.S2 {
  color: yellow;
}

.I {
  color: green;
}

#clock {
  height: 100px;
  width: 500px;
  position: relative;
  padding-top: 10px;
  padding-bottom: 70px;
  font-family: 'Product Sans', Arial, sans-serif;
  color: white;
  font-size: 100px;
  text-shadow: 2px 2px 0px black;

}

h2 {
  text-align: center;
  font-size: 40px;
}

form {
  font-size: 40px;
  font-family: 'Product Sans', Arial, sans-serif;
  color: white;
  text-shadow: 2px 2px 0px black;
}

input {
  font-size: 20px;
  color: white;
  background-color: black; opacity: 0.6;
}

.day {
  background: url('http://d3trabu2dfbdfb.cloudfront.net/3/7/th3797_o.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 870px;
 }
.sunset {
  background: url('http://www.skycamusa.com/images/boston_aerial_drone_photography.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 700px;

 }
.night {
  background: url('http://www.strategygroupinc.com/images/o-BOSTON-facebook.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 870px;
 }

#date {
  color: white;
  font-family: 'Product Sans', Arial, sans-serif;
  font-size: 40px;
  text-align: left;
  padding-left: 50px;
  text-shadow: 2px 2px 0px black;
}

<<<<<<< HEAD
body {
  padding: 45px 25px;
  font: 13px 'Open Sans', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

@font-face {
    font-family: 'weather';
    font-weight: normal;
    font-style: normal;
}

#weather {
  width: 500px;
  margin: 0px auto;
  text-align: center;
  text-transform: uppercase;
}

i {
  color: #fff;
  font-family: weather;
  font-size: 150px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.0;
}

.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }

#weather h2 {
  margin: 0 0 8px;
  color: #fff;
  font-size: 100px;
  font-weight: 300;
  text-align: center;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}

#weather ul {
  margin: 0;
  padding: 0;
}

#weather li {
  background: #fff;
  background: rgba(255,255,255,0.90);
  padding: 20px;
  display: inline-block;
  border-radius: 5px;
}

#weather .currently {
  margin: 0 20px;
}

button {
  display: block;
  margin: 15px auto;
  width: 140px;
  padding: 5px;
  background: black;
  color: #fff;
  border: 0;
  border-radius: 5px;
}
=======
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #555;
  color: white;
}

.menu {
  font-size: 25px;
}

table { 
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  width: 100%; 
  border-collapse: 
  collapse; border-spacing: 0; 
  margin-left:auto; 
  margin-right:auto;
}

td, th { 
  border: 1px solid transparent; /* No more visible border */
  height: 30px; 
  transition: all 0.3s;  /* Simple transition for hover effect */
}

th {
  background: #DFDFDF;  /* Darken header a bit */
  font-weight: bold;
}

td {
  background: #FAFAFA;
  text-align: center;
}

/* Cells in even rows (2,4,6...) are one color */ 
tr:nth-child(even) td { 
  background: #F1F1F1; 
}   

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */ 
tr:nth-child(odd) td { 
  background: #FEFEFE; 
}  

/* This is commenting out hovering over and changing color feature
tr td:hover { 
background: #666; color: #FFF; 
} 

Hover cell effect!

*/
>>>>>>> 065652ded7ad0be93f5e5f6104c1bd779cb9f352
