<!DOCTYPE html>
<html>
<head>
	<title>Contact Information</title>
	<link rel="stylesheet" type="text/css" href="dab.css">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	<script type="text/javascript" src="../dab.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Product+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
	<h1>
    <span class="C">C</span><span class="S">S</span><span class="S2">S</span>ign<span class="I">I</span>n
		<ul>
	      <li class="menu"><a class="other" href="/dab.html">Home</a></li>
	      <li class="menu"><a class="other" href="/google.html">Contact Information</a></li>
	      <li class="menu"><a class="other" href="/display.html">Student List</a></li>
	      <li class="menu"><a class="other" href="calendar.html">CSSI Calendar</a></li>
	      <li class="menu" id="about"><a class="about" href="/about.html">About</a></li>
    	</ul>
	</h1>
	<h2>An easy way to have CSSIers and their RAs on the same page.</h2>
	<h3>About the Project</h3>
<p>The target audience for our app includes CSSIers and their RAs. Our app will give RAs a better way to keep track of CSSIers, whether it be on the weekends or weekday mornings. It will give CSSIers a way to let their RAs and everyone else aware of their whereabouts. Contact information of all the CSSIers, as well as RAs and leaders, are available on our app to help everyone stay connected. You are also able to view the CSSI calendar to keep updated on what's happening everyday!</p>
	<h4>About Team D.A.B.</h4>
	<div class="Daniel">
		<p><span class="Daniel2">Daniel</span><br> About:<br>Computer Science Major attending the University of Virginia<br><br>Contributions:<br>Python, HTML/CSS, Datastore/AppEngine</p>
		<img src="daniel.jpg" height="150px" width="150px">
	</div>
	<div class="Angelica">
		<p><span class="Angelica2">Angelica</span><br> About:<br>Computer Science Major attending University of Tennessee, Knoxville<br><br>Contributions:<br>HTML/CSS, Python, JavaScript</p>
	</div>
	<div class="Brenda">
		<p><span class="Brenda2">Brenda</span><br> About:<br>Computer Science Major attending University of Houston<br><br>Contributions:<br>Python, API, Datastore/AppEngine, JavaScript</p>
	</div>
</div>
</body>
