<!DOCTYPE html>
<html>
<head>
	<title>Contact Information</title>
	<link rel="stylesheet" type="text/css" href="dab.css">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	<script type="text/javascript" src="../dab.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Product+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
	<h1>
    <span class="C">C</span><span class="S">S</span><span class="S2">S</span>ign<span class="I">I</span>n
		<ul>
        <li class="menu"><a<a class="home" href="/dab.html">Home</a></li>
        <li class="menu"><a<a class="other" href="/google.html">Contact Information</a></li>
        <li class="menu"><a<a class="other" href="/display.html">Student List</a></li>
        <li class="menu"><a<a class="other" href="calendar.html">CSSI Calendar</a></li>
        <li class="menu" id="about"><a<a class="other" href="/about.html">About</a></li>
    	</ul>
	</h1>
<iframe src="https://calendar.google.com/calendar/embed?mode=AGENDA&amp;height=500&amp;wkst=1&amp;bgcolor=%23666666&amp;src=google.com_66qotusn4uo48gvb3nb3dssm78%40group.calendar.google.com&amp;color=%2328754E&amp;ctz=America%2FNew_York" style="border:solid 1px #777" width="700" height="715" frameborder="0" scrolling="no"></iframe>
</body>
