<!DOCTYPE html>
<head>
  <title>CSSignIn</title>
  <link rel="stylesheet" type="text/css" href="dab.css">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script type="text/javascript" src="../dab.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Product+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
  <h1>
      <span class="C">C</span><span class="S">S</span><span class="S2">S</span>ign<span class="I">I</span>n
    <ul>
      <li class="menu"><a href="/dab.html">Home</a></li>
      <li class="menu"><a href="/google.html">Google Sign-in</a></li>
      <li class="menu"><a href="/display.html">Student List</a></li>
    </ul>
  </h1>
  <div id='date'><script>
    var months = new Array(
    "January", "February", "March", "April",
    "May", "June", "July", "August", "September",
    "October", "November", "December");
    var currentTime = new Date();
    var month = currentTime.getMonth();
    var day = currentTime.getDate();
    var year = currentTime.getFullYear();
    document.write(months[month] + " " + day + ", " + year);
  </script></div>
  <div id='clock'></div>
  <form action="/" method="post">
    Enter your name: <input type="text" name="name"> <br>
    Enter your location: <input type="text" name="location_atm">
      <input type="submit">
  </form>
</body>
