<!DOCTYPE html>
<head>
  <h1>CSSignIn</h1>
  <title>CSSignIn</title>
  <link rel="stylesheet" type="text/css" href="dab.css">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script type="text/javascript" src="../dab.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Product+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id='clock'></div>
  <form action="/" method="post">
    Enter your name: <input type="text" name="name"> <br>
    Enter your location: <input type="text" name="location">
    <input type="submit">
  </form>
</body>