<!DOCTYPE html>
<html>
<head>
	<title>Sign-In List</title>
	<link rel="stylesheet" type="text/css" href="dab.css">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	<script type="text/javascript" src="../dab.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Product+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
	<h1>
    <span class="C">C</span><span class="S">S</span><span class="S2">S</span>ign<span class="I">I</span>n
		<ul>
      		<li class="menu"><a class="other" href="dab.html">Home</a></li>
      		<li class="menu"><a class="other" href="google.html">Contact Information</a></li>
      		<li class="menu"><a class="list" href="display.html">Student List</a></li>
      		<li class="menu"><a class="other" href="calendar.html">CSSI Calendar</a></li>
			<li class="menu" id="about"><a class="other" href="/about.html">About</a></li>
    	</ul>
	</h1>
	<table>
		<tbody>
		<tr>
			<td class="bold">Name</td>
		    <td class="bold">Location</td>
		    <td class="bold">Sign-in Status</td>
		</tr>
				{{ checkin }}
	</table>
</body>
</html>
