<!DOCTYPE html>
<html>
<head>
	<title>Sign-In List</title>
	<link rel="stylesheet" type="text/css" href="display.css">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	<script type="text/javascript" src="../dab.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Product+Sans' rel='stylesheet' type='text/css'>
</head>
	<body>
		<ul>
		  <li><a href="dab.html">Home</a></li>
		  <li><a href="display.html">Sign-In List</a></li>
		  <li><a href="about.html">About</a></li>
		</ul>
		<table>
		    <tr>
		        <td>Name</td>
		        <td>Contact Number</td>
		        <td>Sign-in Status</td>
		        <td>Location</td>
		    </tr>
		    <tr>
		        <td>Frank</td>
		        <td>1</td>
		        <td>7:30 AM</td>
		        <td>Lobby</td>
		    </tr>
		    <tr>
		        <td>Carl</td>
		        <td>2</td>
		        <td>7:00 am</td>
		        <td>MIT</td>
		    </tr>
		    <tr>
		        <td>Bill</td>
		        <td>3</td>
		        <td>8:00 AM</td>
		        <td>Google</td>
		    </tr>
		</table>
	</body>
</html>
