<!DOCTYPE html>
<html>
<head>
	<title>Contact Information</title>
	<link rel="stylesheet" type="text/css" href="dab.css">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	<script type="text/javascript" src="../dab.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Product+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
	<h1>
    <span class="C">C</span><span class="S">S</span><span class="S2">S</span>ign<span class="I">I</span>n
		<ul>
      		<li class="menu"><a href="dab.html">Home</a></li>
      		<li class="menu"><a href="google.html">Contact Information</a></li>
      		<li class="menu"><a href="display.html">Student List</a></li>
					<li class="menu" id="about"><a href="/about.html">About</a></li>
    	</ul>
	</h1>
	<table>
		<tbody>
		<tr>
			<td>Name</td>
		    <td>Phone Number</td>
				<td>Name</td>
			    <td>Phone Number</td>
			</tr>
			<tr>
				<td>Adolfo Hermosillo</td>
			    <td>281-780-3159</td>
					<td>Alanah Cottingham</td>
				    <td>251-533-0784</td>
					</tr>
					<tr>
						<td>Alexa Hankins</td>
					    <td>919-619-0420</td>
							<td>Alyssa Wang</td>
						    <td>623-806-5683</td>
							</tr>
							<tr>
								<td>Angelica Souksavong</td>
							    <td>615-779-9915</td>
									<td>Ashley Copenhaver</td>
								    <td>410-530-3302</td>
									</tr>
									<tr>
										<td>Bakari Bridges</td>
									    <td>404-769-5339</td>
											<td>Barbara Marquez</td>
										    <td>301-675-0520</td>
											</tr>
											<tr>
												<td>Betty Tannuzzo</td>
											    <td>754-204-6023</td>
													<td>Brenda Gonzalez</td>
												    <td>832-577-0341</td>
													</tr>
													<tr>
														<td>Christina Paris</td>
													    <td>770-846-4737</td>
															<td>Daniel Zarco</td>
														    <td>571-334-1691</td>
															</tr>
															<tr>
																<td>Diane Manalo</td>
															    <td>301-910-7156</td>
																	<td>Donovanne Fisher</td>
																    <td>330-933-3406</td>
																	</tr>
																	<tr>
																		<td>Ekta Rana</td>
																	    <td>917-982-3221</td>
																			<td>Gio Continanza</td>
																		    <td>407-953-5673</td>
																			</tr>
																			<tr>
																				<td>Haven Brown</td>
																			    <td>479-321-6508</td>
																					<td>Jacqui Fashimpaur</td>
																				    <td>319-899-2943</td>
																					</tr>
																					<tr>
																						<td>Jay Little</td>
																					    <td>662-630-2126</td>
																							<td>Juliette MacPhail</td>
																						    <td>941-705-2287</td>
																							</tr>
																							<tr>
																								<td>Juwuan Turner-Howard</td>
																							    <td>251-391-3486</td>
																									<td>Kedron Abott</td>
																								    <td>386-864-5337</td>
																									</tr>
																									<tr>
																										<td>Kimberly Collins</td>
																									    <td>210-883-5128</td>
																											<td>Natalee Ryan</td>
																										    <td>315-869-6108</td>
																											</tr>
																											<tr>
																												<td>Niaz Pour</td>
																											    <td>404-966-6815</td>
																													<td>Savannah Bell</td>
																												    <td>519-378-4081</td>
																													</tr>
																													<tr>
																														<td>Val Fanelle</td>
																													    <td>856-522-6647</td>
																															<td>Vernon Johnson</td>
																														    <td>214-414-6190</td>
																															</tr>
																															<tr>
																																<td>Will Njundong</td>
																															    <td>334-219-6102</td>
																																	<td>Xiu Chen</td>
																																    <td>202-344-7033</td>
																																	</tr>
			</tbody>
	</table>
</body>
</html>
